# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Compiled files
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# User-specific settings
*.sublime-workspace
*.suo
*.user
*.sln.docstates

# Miscellaneous
.DS_Store
Thumbs.db

# Ignore any files in the "secret" directory
secret/

# Ignore built Python modules
__init__.py


# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
